@use "../utilidades/_variables";

// Reseteo general para eliminar m치rgenes y paddings predeterminados y asegurar consistencia en todos los navegadores
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Incluye el padding y el borde dentro del tama침o total de los elementos
}
  
// Estilos b치sicos para el cuerpo de la p치gina
body {
    font-family: variables.$font-family; // Fuente definida en las variables
    background-color: variables.$background-color; // Color de fondo global
    color: variables.$text-color; // Color de texto principal
}
