@use "../utilidades/_variables";

// Reseteo general para eliminar márgenes y paddings predeterminados y asegurar consistencia en todos los navegadores
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Incluye el padding y el borde dentro del tamaño total de los elementos
}
  
// Estilos básicos para el cuerpo de la página
body {
    font-family: variables.$font-family; // Fuente definida en las variables
    background-color: variables.$background-color; // Color de fondo global
    color: variables.$text-color; // Color de texto principal
}


/////////CARRITO////////////
/// 
/// // Reset básico para normalizar los estilos en todos los navegadores
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #e4fbde;
    color: #333;
  }