/*
-hover : pasar por encima el raton
-active : cuando interaccionas con el boton que se pone morado el texto
-focus : cuando pulsas un boton por ejemplo que salga color detras
-visited : cuando ya has visitado el sitio que se quede con un color
-firstchil es para el primer elemento de cualquier tipo
    li:first-child {
    atributos
}
-lastchild










*/