@use "../utilidades/_variables";
@use "../utilidades/_mixins" as m;
@use "../utilidades/funciones" as f;



// Contenedor principal de la sección hero
.hero {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; // Espacia uniformemente los elementos
  align-items: stretch; // Alinea los elementos para que tengan la misma altura
  padding: 20px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  max-width: 1100px; // Límite máximo de ancho para pantallas grandes
}

// Imagen principal dentro de la sección hero
.hero-image {
  flex: 2; // La imagen ocupa el doble de espacio que el texto
  max-width: 800px; 
  height: auto;
  object-fit: cover; // La imagen se ajusta al contenedor sin perder proporción
  border-radius: 10px 0 0 10px; 
  width: 100%;
  border: 1px solid black;
  border-right: 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Sombra para dar profundidad

}

// Texto acompañante en la sección hero
.hero-text {
  flex: 1; // El texto ocupa menos espacio que la imagen
  background-color: variables.$card-bg-color; // Color de fondo tomado de las variables
  padding: 1rem;
  border-radius: 10px; 
  border: 1px solid black;
  text-align: center;
  font-size: 1rem;
  border-radius: 0 10px 10px 0; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Sombra para dar profundidad
}

// Ajustes para las imágenes dentro de la sección hero
.hero picture {
  line-height: 0; // Elimina espacios innecesarios alrededor de la imagen
}

// Responsividad para escritorio
@include m.respond-to("desktop") {
  .hero {
    flex-direction: column; // Cambia a disposición en columna en pantallas más grandes
    max-width: 1200px;
    margin: auto;
    align-items: center;
    max-width: 800px;
  }
  
  .hero-image {
    max-width: 800px;
    border-radius: 10px 10px 0 0; 
    background-color: variables.$card-bg-color;
    border: 2px solid black;
  }
  
  .hero-text {
    border-radius: 0 0 10px 10px; 
    border-top: 2px solid black;
    margin-top: 0px;
    width: 100%;
  }
}

// Responsividad para tablets
@include m.respond-to("tablet") {
  .hero {
    flex-direction: column; // Cambia la dirección de los elementos a columna
    width: 95%; 
  }

  .hero-image {
    height: auto; // Mantiene la altura automática para una mejor adaptación
  }

  .hero-text {
    margin-left: 0; 
    border-left: none; // Elimina el borde izquierdo en tablets
    border-top: 2px solid black; // Agrega borde superior
    border-left: 2px solid black;
    text-align: center;
    padding: 1.5rem; // Aumenta el espaciado para mejor legibilidad
  }
}


/////////////////////////CALENDARIO//////////////////////////
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0rem;

  .logo-login {
    width: 200px;  // Tamaño medianamente grande, ajustable según preferencia
    height: auto;
  }
}


//////////////////TIENDA//////////////////
/// 
.store-hero {
  text-align: center;
  margin-bottom: 40px;

  .featured-image {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
  }
}


//////////////CARRITO////////////////////
 