@use "./utilidades/_variables";
@use "./utilidades/_mixins";
@use "./utilidades/_funciones";
@use "base/_reset";
@use "base/_tipografia";
@use "componentes/_header";
@use "componentes/_footer";
@use "componentes/_botones";
@use "componentes/_tarjetas";
@use "layout/_grid";
@use "layout/_hero";


.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; // Hace que el contenedor ocupe toda la pantalla
  }
  
  .content {
    flex: 1; 
  }
  