


.logo-login {
    display: flex;
    justify-content: center;
    margin-bottom: 0rem;
    top: 0;
  
    img {
      width: 200px; // Tamaño medianamente grande
      height: auto;
      
    }
  }

  .login-labels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 0;
  
    .login-labels-labels {
      display: flex;
      flex-direction: column;
      align-items: flex-start;  // Alinea las etiquetas a la izquierda si lo prefieres
      gap: 1rem;  // Espacio entre la etiqueta y el input
      margin-bottom: 0.5rem;  // Añade espacio entre los bloques de Nombre y Contraseña
      width: 100%;
  
      label {
        font-size: 1rem;
        font-weight: bold;
      }
  
      input {
        padding: 0.75rem;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 1rem;
  
        &:focus {
          border-color: #ff8f8f;
          outline: none;
          box-shadow: 0 0 5px rgba(255, 143, 143, 0.5);
        }
      }
    }
  }
  

  .login-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;  // Asegura que cubra el ancho completo de la ventana
    padding: 0;  // Elimina el padding que puede crear bordes
    margin: 0;   // Elimina el margen por defecto si lo hay
    // Imagen de fondo que cubre toda la pantalla
    background: url('/Website_Task_11_SASS/fuentes/img/png/Jugador_con_balon_en_campo_de_cesped_1200x800.png') no-repeat center center;
    background-size: cover;  // Asegura que la imagen cubra el contenedor sin distorsionar
    background-attachment: fixed;  // Opcional, para que la imagen no se mueva al hacer scroll
    
    position: relative;
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.4);  // Mantiene la transparencia
      z-index: 1;
    }
  
    > * {
      position: relative;
      z-index: 2;
    }
  }
  
  
  ///////////////////TIENDA/////////////////////
  

  .store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }