// Variables
$background-color: #f4f4f4;
$text-color: #333;
$header-bg-color: #7d6e4e;
$button-bg-color: #f28a8a;
$hero-bg-color: #f4d99d;
$border-radius: 10px;
$transition: 0.3s;

// Mixins
@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration;
}

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilo general
body {
  font-family: Arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
}

// Header
.header {
  @include flex-center(space-between, center);
  padding: 10px 20px;
  background-color: $header-bg-color;

  .logo img {
    width: 80px;
    height: auto;
  }

  .nav {
    @include flex-center(flex-start, center);
    gap: 2rem;

    ul {
      display: flex;
      list-style: none;
      gap: 1.5rem;
      margin-right: 40px;

      li {
        margin-right: 20px;
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      @include transition(color);

      &:hover {
        color: $button-bg-color;
      }
    }
  }

  .login-btn {
    background-color: $button-bg-color;
    border: 2px solid black;
    padding: 0.75rem 1rem;
    border-radius: $border-radius;
    cursor: pointer;
    color: white;
    font-weight: bold;
    @include transition(background-color);

    &:hover {
        background-color: color.adjust($button-bg-color, $lightness: -10%);

    }
  }
}

// Main
.main {
  padding: 1rem;

  .hero {
    @include flex-center(flex-start, center);
    margin: 0 5px 2rem 5px;
    width: 99%;
    border: 1px solid black;

    .hero-image {
      flex: 2;
      border-radius: $border-radius;
      max-width: 950px;
      max-height: 250px;
      width: 100%;
    }

    .hero-text {
      flex: 1;
      background-color: $hero-bg-color;
      padding: 1rem;
      border-radius: $border-radius;
      border: 1px solid black;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    gap: 1rem;

    .card {
      background-color: $hero-bg-color;
      border-radius: $border-radius;
      overflow: hidden;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      border: 2px solid black;

      .card-image {
        width: 100%;
        height: 170px;
      }

      .card-text {
        padding: 0.5rem;
        background-color: $hero-bg-color;
      }
    }
  }
}

// Footer
.footer {
  background-color: $header-bg-color;
  padding: 20px;
  color: white;
  margin-top: 10px;
  position: relative;
  font-size: 60px;
  border: 2px solid black;

  .social-icons {
    display: flex;
    margin: -4rem 0 0 1300px;

    img {
      width: 50px;
      height: 50px;
      margin-left: 20px;
    }
  }

  .palabra-footer {
    font-size: 60px;
    color: white;
    text-align: center;

    text {
      border: 2px solid black;
    }
  }
}
