@use "../utilidades/_variables";
@use "../utilidades/_mixins" as m;

.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
  max-width: 1100px;
}

.hero-image {
  flex: 2;
  max-width: 800px; 
  height: auto;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  width: 100%;
  
}

.hero-text {
  flex: 1;
  background-color: variables.$card-bg-color;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1rem;
  border-radius: 0 10px 10px 0;
  
}

.hero picture {
  line-height: 0;
}

/* Cuando la pantalla sea menor a 768px, cambia a columna */
@include m.respond-to("desktop") {
  .hero {
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    align-items: center;
    max-width: 800px;
  }
  
  .hero-image {
    max-width: 800px;
    border-radius: 10px 10px 0 0;
    background-color: variables.$card-bg-color;
  }
  
  .hero-text {
    border-radius: 0 0 10px 10px;
    border-top: 2px solid black;
    margin-top: 0px;
  }

}


/* Cuando la pantalla sea menor a 768px, cambia a columna */
@include m.respond-to("tablet") {
    .hero {
        flex-direction: column;
        width: 95%; 
        
      }

  .hero-image {
    height: auto; 
  }

  .hero-text {
    margin-left: 0; 
    border-left: none;
    border-top: 2px solid black;
    text-align: center;
    padding: 1.5rem; 
  }
}
