@use "../utilidades/_variables";
@use "../utilidades/_mixins" as m;

// Mixin para efecto de zoom en hover
@mixin hover-zoom($scale: 1.1, $transition: 0.3s) {
  transition: transform $transition ease-in-out;
  &:hover {
    transform: scale($scale);
  }
}

// Mixin para zoom dinámico en la hero image basado en la posición del ratón
@mixin hero-zoom($scale: 2) {
  overflow: hidden;
  position: relative;
  
  img {
    transition: transform 0.3s ease;
    transform-origin: center;
  }

  &:hover img {
    transform: scale($scale);
  }
  
  &:hover {
    cursor: zoom-in;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Siempre 3 columnas en desktop
  gap: 6.5rem;
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
}

.card {
  background-color: variables.$card-bg-color;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  border: 2px solid black;

  .card picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; // Mantiene una proporción constante
    object-fit: cover;
    @include hover-zoom(1.1, 0.3s);
  }

  .card-text {
    padding: 0.5rem;
    background-color: variables.$card-bg-color;
  }
}

// Responsividad para desktop
@include m.respond-to("desktop") {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
  }

  .hero-image {
    max-width: 800px;
    width: 60%;
    border-radius: 10px 0 0 10px;
  }

  .hero-text {
    width: 40%;
    border-radius: 0 10px 10px 0;
    border-left: 2px solid black;
  }
}

// Responsividad para tablets
@include m.respond-to("tablet") {
  .hero {
    flex-direction: column;
    width: 95%;
    margin: auto;
  }

  .hero-image {
    width: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .hero-text {
    border-radius: 0 0 10px 10px;
    border-top: 2px solid black;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr); // 2 columnas para pantallas medianas
  }
}

// Responsividad para móviles
@include m.respond-to("mobile") {
  .cards {
    grid-template-columns: 1fr; // 1 columna para pantallas pequeñas
    gap: 10px;
  }

  .card {
    width: 90%;
    max-width: 320px;
  }
}

// Ajuste de imágenes para optimizar carga
.card picture {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
} 


