@use "../utilidades/variables";
@use "../utilidades/mixins" as m;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$primary-color;
  padding: 20px;
  border: 2px solid black;
  width: 100%;
  margin-top: auto; 
  bottom: 0;

  .palabra-footer {
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 15px; // Espacio entre iconos
    border-radius: 20px;

    a img {
      width: 40px;
      height: 40px;
      transition: transform 0.2s ease-in-out;
      border-radius: 20px;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}


@include m.respond-to("small-tablet") {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    background-color: variables.$primary-color;
    border-top: 2px solid black;
  }

  .palabra-footer {
    font-size: 20px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
}

@include m.respond-to("small-mobile") {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    background-color: variables.$primary-color;
    border-top: 2px solid black;
  }

  .palabra-footer {
    font-size: 18px;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }
}

