@use "../utilidades/variables";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: variables.$primary-color;
  padding: 20px;
  border: 2px solid black;
  width: 100%;
  margin-top: 40px;

  .palabra-footer {
    font-size: 30px;
    color: white;
    font-weight: bold;
  }

  .social-icons {
    display: flex;
    align-items: center;
    gap: 15px; // Espacio entre iconos

    a img {
      width: 40px;
      height: 40px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
