@use "../utilidades/_variables";
@use "../utilidades/_mixins" as m;

// Mixin para efecto de zoom en hover con escala y transición personalizables
@mixin hover-zoom($scale: 1.1, $transition: 0.3s) {
  transition: transform $transition ease-in-out; // Suaviza la transición
  &:hover {
    transform: scale($scale); // Escala el elemento al pasar el ratón
  }
}



// Contenedor de tarjetas usando CSS Grid
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
  gap: 15px !important; // Forzamos la eliminación del gap
}

// Estilo de cada tarjeta individual
.card {
  background-color: variables.$card-bg-color; // Color de fondo definido en variables
  border-radius: 10px; // Bordes redondeados
  overflow: hidden; // Oculta el contenido que se desborda
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); // Sombra para dar efecto de profundidad
  text-align: left;
  border: 2px solid black;

  .card picture {
    width: 100%;
    display: flex;
    justify-content: center; // Centra la imagen dentro del contenedor
  }

  .card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3; // Mantiene una proporción constante de la imagen
    object-fit: cover; // Ajusta la imagen para cubrir el contenedor sin deformarse
    @include hover-zoom(1.08, 0.3s); // Aplica el efecto de zoom al pasar el ratón
  }

  .card-text {
    $padding-base: 0.25rem;
    padding: $padding-base * 2; // Reemplazamos 0.5rem por una operación
    background-color: variables.$card-bg-color;
    text-align: center;
    
    
  }

  
  
}

// Responsividad para pantallas de escritorio
@include m.respond-to("desktop") {
  .hero {
    flex-direction: row; // Distribuye el contenido en fila
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    
    
  }

  .hero-image {
    max-width: 800px;
    width: 60%;
    border-radius: 10px 0 0 10px; // Bordes redondeados en la parte izquierda
    
  }

  .hero-text {
    width: 40%;
    border-radius: 0 10px 10px 0; // Bordes redondeados en la parte derecha
    border-left: 2px solid black; // Borde izquierdo para separar la imagen del texto
  }
}

// Responsividad para tablets
@include m.respond-to("tablet") {
  .hero {
    flex-direction: column; // Apila el contenido en columnas
    width: 95%;
    margin: auto;
  }

  .hero-image {
    width: 100%;
    max-width: 100%;
    border-radius: 10px 10px 0 0; // Bordes redondeados en la parte superior
  }

  .hero-text {
    border-radius: 0 0 10px 10px; // Bordes redondeados en la parte inferior
    border-top: 2px solid black; // Borde superior para separar la imagen del texto
  }

  .cards {
    grid-template-columns: repeat(2, 1fr); // 2 columnas en pantallas medianas
    margin:auto;

  }
}

  // Responsividad para móviles
  @include m.respond-to("mobile") {
    .cards {
      
      grid-template-columns: 1fr;  // Una sola columna
      gap: 0;                    // Espacio entre las tarjetas
      justify-items: center;       // Centra las tarjetas horizontalmente
    }
    .card {
      width: 90%;
      max-width: 320px; // Límite máximo de ancho para las tarjetas en móviles
      
    }
  }

// Ajuste de imágenes para optimizar carga y visualización
.card picture {
  img {
    width: 100%; // Ocupa todo el ancho del contenedor
    height: auto;
    object-fit: cover; // Ajusta la imagen para cubrir el contenedor sin distorsionar
  }
}


/////////////////////////////////CALENDARIO/////////////////////////////////

.cards-calendario {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 3%;
  gap: 3%;
}

.card-calendario {
  background-color: variables.$card-bg-color;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: left;
  border: 2px solid black;
  position: relative;

  picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .card-image-calendario {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    @include hover-zoom(1.1, 0.3s);
  }

  .cards-text-calendario {
    background-color: rgba(variables.$card-bg-color, 0.9);
    text-align: center;
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: black;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-top: 1px solid black;
  }

  @media (max-width: 1200px) and (min-width: 1001px) {
    .cards-text-calendario {
      font-size: clamp(0.6rem, 1.8vw, 1rem);
    }
    
  }

  @media (max-width: 1150px) {
    .cards-text-calendario {
      font-size: clamp(0.6rem, 1.8vw, 0.9rem);
    }
  }

  @media (max-width: 700px) {
    .cards-text-calendario {
      font-size: clamp(0.5rem, 1.9vw, 0.8rem);
      
    }
  }

  @media (max-width: 550px) {
    .cards-text-calendario {
      font-size: clamp(1rem, 4vw, 0.9rem);
      
    }
  }

  @media (max-width: 360px) {
    .cards-text-calendario {
      font-size: clamp(0.5rem, 4vw, 0.8rem);
    }
  }
} 


// Responsividad para pantallas de escritorio en calendario
@include m.respond-to("desktop") {
  .cards-calendario {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-gallery {
    grid-template-columns: repeat(4, 1fr);
  }
  
}

// Responsividad para tablets en calendario
@include m.respond-to("tablet") {
  .cards-calendario {
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    
  }
}

// Responsividad para móviles en calendario
@include m.respond-to("small tablet") {
  .cards-calendario {
    grid-template-columns: 1fr;
    
    justify-items: center;
  }

  .card-calendario {
    width: 90%;
    max-width: 320px;
  }
}

@include m.respond-to("mobile") {
  .cards-calendario {
    grid-template-columns: 1fr;
    
    justify-items: center;
  }

  .card-calendario {
    width: 90%;
    max-width: 320px;
  }
}
// Ajuste de imágenes para optimizar carga y visualización en calendario
.card-calendario picture {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}


/////////////////TIENDA///////////////
/// 
.product-gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 30px;
  flex-wrap: wrap;
padding: 3%;
}

.product-card {
  background: #a2a1a1;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  border: 2px solid black;

  img {
    width: 100%;
    border-radius: 10px;
    border-style:ridge;
  }

  .palabras-tienda{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:initial;
    font-size: large;
  }
}

@media screen and (max-width: 1450px) {
  .product-gallery{
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1150px) {
  .product-gallery{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 850px) {
  .product-gallery{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .product-gallery{
    grid-template-columns: repeat(1, 1fr);
  }
}


/////////////////CARRITO///////////////

// Estilos de las tarjetas de productos
.producto-carrito {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.producto-carrito img {
  width: 140px;
  border-radius: 5px;
}

.info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
}

.precio-carrito {
  font-size: 18px;
  font-weight: bold;
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 10px;
}


.formulario-compra {
  display: flex;
  flex-direction: column; /* Organiza los inputs en columna */
  gap: 10px; /* Espaciado entre elementos */
  width: 48%;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;  
  border: 2px solid grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  input {
    border: 1px solid #ccc; /* Borde gris suave */
    outline: none; /* Evita el borde al hacer clic */
    padding: 8px;
    border-radius: 5px;
  }
  
}
 
.resumen-compra {
  width: 50%;
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  border: 2px solid grey;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  img{
    border: 2px solid black;
  }
}


/* Media Query para pantallas menores a 800px */
@media screen and (max-width: 800px) {
.main-carrito {
  flex-direction: column; /* Cambia a columna cuando la resolución es menor a 800px */
  align-items: center; /* Centra los elementos */
}

.formulario-compra, .resumen-compra {
  width: 100%; /* Hace que ocupen más espacio en móviles */
}

.resumen-compra{
  margin-top: 15px;
}
}


/* Media Query para pantallas menores a 470px */
@media screen and (max-width: 470px) {

  .formulario-compra, .resumen-compra {
    
    width: 100%; /* Hace que ocupen todo el ancho en móviles */
  } 
  .resumen-compra{
    margin-top: 15px;
  }
.producto-carrito {
  display: flex;
  flex-direction: column; /* Hace que los elementos se apilen */
  align-items: center; /* Centra los elementos */
  text-align: center; /* Asegura que el texto esté alineado */
 
}

.producto img {
  width: 100px; /* Ajusta el tamaño de la imagen para que sea más responsiva */
}

.precio-carrito {
  margin-top: 10px; /* Añade un espacio entre la imagen y el precio */
}
}